body{
    background-color: rgb(192, 157, 113);
}

header {
    background-color: rgb(141, 91, 68);
    color: white;
    font-size: 45px;
    border-bottom: solid 2px rgb(141, 91, 68);

    padding: 20px;
}
.chamada{
    display: flex;
    justify-content: center;
    background-color: rgba(129, 87, 52, 0.829);
}